
body {
  background-color: bisque;
  font-family: 'Courier New', Courier, monospace;
}

.button-1 {
  


h1 {
  text-align: center;
}

.draw-container {
  display: flex;
  justify-content: center;
}

canvas {
  border: 5px solid black;

}