html {
  position: relative;
  min-height: 100%;
  padding-bottom: 100px;

}

body {
  background-color: bisque;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  display: flex;
}

.button-1 {
  


h1 {
  text-align: center;
}

.draw-container {
  display: flex;
  justify-content: center;
}

canvas {
  border: 5px solid black;

}

